header {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 100px;
    color: #F0E68C;
    text-align: center;
    background-image: url("images/pattern.jpeg");
}

h1 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.brushes {
    background-color: mediumspringgreen;
}

.frames {
    background-color: #F08080;
}

.paint {
    background-color: #87CEEB;
}

p {
    font-family: Helvetica;
    color: black; 
}

span {
    font-weight: bold;
}